{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["node_modules", "dist", "coverage"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    // Allows for the parsing of modern ECMAScript features
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-null": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/prefer-query-selector": "off",
    "quotes": ["error", "single"]
  }
}
